*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/paccoin
src/paccoind
src/paccoin-cli
src/paccoin-tx
src/test/test_paccoin
src/qt/test/test_paccoin-qt
src/bench/bench_paccoin

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/paccoin-config.h
src/config/paccoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.paccoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
paccoin-qt
Paccoin-Qt.app

# Unit-tests
Makefile.test
paccoin-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_paccoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libpaccoinconsensus.pc
src/qt/paccoin-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
paccoin-cli
paccoind
paccoin-qt
make

#Custom build
generate-mac-wallet.sh
kill_PAC.sh
paccoin-qt.config
paccoin-qt.creator
paccoin-qt.creator.user
paccoin-qt.files
paccoin-qt.includes
contrib/dash-qt.pro.user
src/qt/paccoin-qt.config
src/qt/paccoin-qt.file
src/qt/paccoin-qt.includes
src/qt/paccoin-qt.creator
src/qt/paccoin-qt.creator.user
