
/*
 *  Global GUI styles
 */

/* custom Qslider */
QSlider::handle:horizontal {
    background: #D4CA03;
    border: 2px solid #D4CA03;
    width: 10px;
    margin: -3px 0px; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 6px;
}
QSlider::groove:horizontal {
    border: 1px solid transparent;
    height: 7px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    margin: 2px 0;
    border-radius: 4px;
}
QSlider::add-page, QSlider::sub-page {
    border-radius: 4px;
    border: 1px solid transparent;
    height: 7px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    margin: 2px 0;
}
QSlider:add-page:disabled, QSlider:sub-page:disabled {
    background: #ccc;
}
QSlider::add-page {
    background: rgba(100,100,100,0.5);
}
QSlider::sub-page {
    background: #555;
}
QSlider::handle:disabled{
    background: #999;
    border: 1px solid #999;
}
/* Global labels a Box with a title */
QLabel, QGroupBox::title{
    color: white !important;
    font-weight:normal;
}
/* General window */
/*QMainWindow{
}*/
/* Global message box */
QMessageBox {
    background-color:rgb(26,26,26);
}
/* Global tooltip */
QToolTip {
    color: #0A0A0A;
    background-color: #ffffff;
    border: none;
}
/* Global dialogs*/
QDialog{
    background-color:rgb(26,26,26);
    color:white;
}
/* Global ComboBox */
QComboBox{
    background-color: rgb(17,17,17);
    border:0px;
    height: 26px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
QComboBox::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
QComboBox::drop-down {
    width:25px;
    border:3px red;
}
QComboBox QListView {
    color: #FFF;
    background-color:  rgb(20, 20, 20);
    border:0px;
    height:100px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}
QComboBox QAbstractItemView::item {
    color: rgb(255, 255, 255) !important;
    selection-background-color: #494949;
    height: 35px !important;
    min-width: 100px !important;
}
/* Global TabBar styles */
QTabWidget::pane {
    background-color: transparent;
    border: 0px !important;
    border-radius:15px;
}
/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabBar{
    margin-left: 20px;
}
QTabBar::tab {
    background:#1D1D1D;
    border: 0px solid transparent;
    border-bottom-color: transparent; /* same as the pane color */
    padding: 1px;
    width: 180px;
    color:#FFFFFF;
}
QTabBar::tab:selected, QTabBar::tab:hover, #tabWidget_OptionsDialog > QTabBar::tab:selected, #tabWidget_OptionsDialog > QTabBar::tab:hover {
    background-color: #202020 !important;
}
QTabBar::tab:selected {
    border-color: transparent !important;
    border-bottom-color: transparent !important;
}
/* Global Progress Bar styles */
QProgressBar {
    border: 2px solid rgb(50,50,50);
    background-color: white;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    max-height: 16px !important;
}
QProgressBar::chunk {
    background-color:#F4EA13;
    border-radius: 8px;
    max-height: 16px !important;
}
QStatusBar{
    background-color: rgb(10,10,10) !important;
}
/* Global with classes */
[class="container"]{
    background-color: rgba(0,0,0,0.5); 
    border: 0px !important;
}
[class="LineEdit"], [class="LineEdit_PacCoins"], [class="LineEditSmall"]{
    border: 0px;
    outline:0;
    padding:3px;
    background-color: rgba(67,67,67,0.5);
    color: #fff;
}
[class="LineEdit"], [class="LineEdit_PacCoins"]{
    height: 40px !important;
    font-size: 15px;
    border-radius: 20px;
}
[class="LineEditMedium"]{
    height: 28px !important;
    font-size: 13px;
    border-radius: 14px;
    text-align: center;
}
[class="LineEditSmall"]{
    height: 18px !important;
    font-size: 13px;
    border-radius: 9px;
}
[class="LineEdit"]:focus, [class="LineEditSmall"]:focus, [class="LineEditMedium"]:focus {
    font-size:12px;
}
[class="LineEdit"]:disabled, [class="LineEditSmall"]:disabled, [class="LineEditMedium"]:disabled {
    background-color:#474747;
    color: #878787;
}
[class="QuickButton"]{
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
[class="QuickButton"]:hover{
    background-color: rgba(128,128,128,0.2);
}
[class="QuickButton"]:pressed{
    background-color: rgba(250,250,250,0.5);
}

[class="SpinBoxSmall"]{
    border-radius: 10px !important;
    font-size: 12px !important;
    min-width: 40px !important;
    min-height:20px !important;
}
/* labels */
QLabel[class="titleLabel"]{
    text-transform:uppercase;
    color: #FFF;
    font-size:18px;
}
QLabel[class="pacCoinsLabel"]{
    margin: 0px;
    color: #F4EA13;
    font-size: 32px;
    font-weight: medium;
}
QLabel[class="usdLabel"]{
    color: #FFF;
    font-size: 23px;
    font-weight: normal;
}
QLabel[class="labelPacIcon"]{
    margin: 0px;
}
/*textarea*/
QPlainTextEdit {
    background: rgb(255, 0, 0);
    color: rgb(20, 20, 20);
    font-size: 15px;
}
/* ScrollBar */
QScrollBar:vertical, QScrollBar:horizontal {
    background-color: #191919;
    width: 16px;
    margin: 16px 2px 16px 2px;
    border: 1px solid rgb(50,50,50);
    border-radius: 4px;
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal  {
    background-color: #787878;
    border: 1px solid rgb(50,50,50);
    min-height: 8px;
    border-radius: 4px;
}
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background-color: rgb(243,232,56);
    border: 1px solid rgb(243,232,56);
    border-radius: 4px;
    min-height: 8px;
}
QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal{
    margin: 3px 0px 3px 0px;
    border-image: url(:/images/pac/drkblue_upArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal {
    margin: 3px 0px 3px 0px;
    border-image: url(:/images/pac/drkblue_downArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on , QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on{
    border-image: url(:/images/pac/drkblue_upArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on, QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on{
    border-image: url(:/images/pac/drkblue_downArrow_small);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical, QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal{
    background: none;
}
/* Global spinbox */
QAbstractSpinBox {
    border-radius: 20px;
    font-size: 15px;
    min-height:40px;
    background-color: rgba(67,67,67,0.5);
    text-align: center;
    border:0px;
    color:#fff;
    padding: 3px 5px 3px 5px;
}
QAbstractSpinBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}
QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:4px;
    padding-left:5px;
    padding-top:2px;
}
QAbstractSpinBox::up-arrow {
    image: url(':/images/pac/drkblue_upArrow_small') 0 0 0 0 stretch stretch;
}
QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width:21px;
    background-color: transparent;
    border:0px;
    padding-right:4px;
    padding-left:5px;
    padding-bottom:2px;
}
QAbstractSpinBox::down-arrow {
    image: url(':/images/pac/drkblue_downArrow_small') 0.5 0.5 0.5 0.5 stretch stretch;
}
/* Global tables */
QHeaderView { /* Top of the table Header */
    background-color: rgb(17,17,17);
}
QHeaderView::section { /* Top of the table Header Sections */
    background-color: rgb(17,17,17);
    color:#fff;
    min-height:20px;
    height:35px;
    font-weight:bold;
    font-size:11px;
    outline:0;
    border:0px solid #fff;
    border-right:  1px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.5, stop: 0 transparent, stop: 1 rgb(71, 71, 71));
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}
QHeaderView::down-arrow{
    image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
QHeaderView::up-arrow{
    image: url(':/images/pac/drkblue_upArrow_small') 0 0 0 0 stretch stretch;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
QScrollArea {
    background: transparent;
    border:2px solid transparent;
}
QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
    background-color: rgba(0,0,0,0.5); 
    border:none;
}
QTableView::item { /* Table Item */
    font-size:12px;
}
QTableView#recentRequestsView, QTableView#MasternodeList, QTableView#transactionsTable, QTableView#tableView{ /* Text color not for proposals */
    color: white;
}
QTableView::item:selected { /* Table Item Selected */
    background-color: rgb(70, 70, 70);
}
QTableWidget{
    background-color: rgba(0,0,0,0.5); 
    color: white;
}
/* ToolBar Menu */
QToolBar {
    background-color: #000000;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QToolBar > QToolButton {
    background-color:transparent;
    border: 0px;
    height: 63px !important;
    width: 120px;
    color: #fff;
}
QToolBar > QToolButton:checked {
    background-color: rgba(67,67,67,0.5);
}
#toolbarIcon{
    background: none;
    margin: 15px 0px 0px 15px;
    border-image: url(:/icons/bitcoin);
}
/* Global Button styles*/
QPushButton {
    background: transparent;
    border: 1px solid #F4EA13;
    color: #F4EA13;
    border-radius: 18px;
    height: 35px;
    width: 180px;
    font-weight: medium;
    font-size: 16px;
}
QPushButton:hover, QPushButton:focus{
    background: rgb(243,232,56) !important;
    border: 1px solid rgb(243,232,56);
    color: rgb(5,5,5);
}
QPushButton:disabled {
    background: transparent !important;
    border: 1px solid rgba(243,232,56,0.6);
    color:rgb(100,100,100) !important;
}
QPushButton:pressed {
    background: rgba(243,232,56, 0.3) !important;
    border: 0px !important;
    color: rgb(243,232,56) !important;
}
/* Style of buttons with classes */

[class="SmallButton"]{
    border-radius: 8px;
    height: 20px;
    width: 80px;
    font-weight: normal;
    font-size: 12px;
}
[class="linkButton"]{
    background-color: transparent !important;
    border: none !important;
    color: #F4EA13;
    font-size: 11px;
    text-decoration: underline;
}
[class="linkButton"]:hover, [class="linkButton"]:focus, #removeRequestButton:hover, #removeRequestButton:focus {
    color:rgb(180,180,180);
    background-color: transparent !important;
    border: 0px !important;
}
[class="linkButton"]:disabled, #removeRequestButton:disabled  {
    background-color: transparent !important;
    color:rgb(100,100,100) !important;
    text-decoration: underline;
    border: none !important;
}
[class="linkButton"]:pressed, #removeRequestButton:pressed {
    background: transparent !important;
    border: 0px !important;
    color: rgb(255,255,255) !important;
}
[class="accentButton"]{
    text-transform:uppercase;
    border: none;
    background: #F4EA13;
    color: rgb(5,5,5);
    border-radius: 35px;
    height: 70px !important;
    width: 360px;
    font-style: normal;
    font-size: 22px;
    font-weight:medium;
}
QCheckBox, QRadioButton {
    color: #FFF;
    width: 9px;
    height: 9px;
    spacing: 10px;
}
/* Global checbox */
QCheckBox::indicator:unchecked, QCheckBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:pressed, QCheckBox::indicator:indeterminate:hover{
    image:url(':/images/pac/unchecked_b');
}
QCheckBox::indicator:checked, QCheckBox::indicator:checked:hover, QCheckBox::indicator:checked:pressed, QCheckBox::indicator:indeterminate:pressed {
    image:url(':/images/pac/checked_b');
}
QCheckBox::indicator:checked:disabled{
    image:url(':/images/pac/checked_b_dis');
}
QCheckBox::indicator:unchecked:disabled{
    image:url(':/images/pac/unchecked_b_dis');
}
/* Global radio button */
QRadioButton::indicator:unchecked, QRadioButton::indicator:unchecked:hover, QRadioButton::indicator:checked:pressed, QRadioButton::indicator:indeterminate:hover {
    image:url(':/images/pac/unchecked');
}
QRadioButton::indicator:unchecked:pressed, QRadioButton::indicator:checked, QRadioButton::indicator:checked:hover , QRadioButton::indicator:indeterminate:pressed {
    image:url(':/images/pac/checked');
}
QRadioButton::indicator:checked:disabled{
    image:url(':/images/pac/checked_dis');
}
QRadioButton::indicator:unchecked:disabled{
    image:url(':/images/pac/unchecked_dis');
}
/* ComboBox dropdown Menus for the selector of PAC units inside BitcoinAmountField inputs  */
BitcoinAmountField QComboBox {
    border-radius: 20px;
    background-color: rgba(67,67,67,0.5);
    font-size: 15px;
    text-align: center;
    border:0px;
    padding: 3px 5px 3px 5px;
    min-height:40px;
    color:#fff;
}
BitcoinAmountField QComboBox:disabled{
    background-color: rgb(61,61,61);
    color: #efefef;
}
BitcoinAmountField QComboBox:checked{
    background-color: rgba(219, 219, 219,0.5);
}
BitcoinAmountField QComboBox:editable{
    background-color: rgba(219, 219, 219,0.5);
    color:#616161;
    border:0px;
}
BitcoinAmountField QComboBox::drop-down {
    width:25px;
    border:0px;
}
BitcoinAmountField QComboBox::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
BitcoinAmountField QComboBox QListView{
    color: #FFF;
    background-color:  rgb(20, 20, 20);
    border:1px solid transparent;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}
BitcoinAmountField QComboBox QAbstractItemView::item {
    margin:4px;
}
BitcoinAmountField QComboBox::item {
    color:#fff !important;
}
BitcoinAmountField QComboBox::item:alternate{
    background: rgb(20,20,20);
}
BitcoinAmountField QComboBox::item:selected{
    border:0px solid transparent;
    background-color:  rgb(40, 40, 40);
}
BitcoinAmountField QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}


/*
 * Styles by section
 */

/* Modal Overlay */
#bgWidget{
    background:#171717;
}

/*
 * News/profile bar style
 */
#btnChangeImage{
    height:80px;
    width:80px;
    border-radius: 40px;
}
#btnChangeImage:hover {
    height:80px;
    width:80px;
    border-radius: 40px;
    border: 1px solid rgb(255,255,255) !important;
}
#btnChangeImage:pressed {
    height:80px;
    width:80px;
    border-radius: 40px;
    background: white !important;
}

/*
 * Overview Page
*/


/*
 * SendCoins Page
*/
#lineEditCoinControlChange{
    background-color: rgba(67,67,67,0.5);
    color: #fff;
}
#SendCoinsDialog{
    background:transparent;
}
#frameCoinControl, #scrollArea, #scrollAreaWidgetContents, #scrollAreaCoinControl{
    border: 0px !important;
}
#frameCoinControl{
    background: rgba(150,150,150,0.1);
    border-radius: 8px !important;
}
#frameFee{
    border: 0px;
}
#scrollArea, #scrollAreaWidgetContents, #scrollAreaWidgetContents_3, #scrollAreaCoinControl{
    background-color:rgba(0,0,0,0) !important;
}
#verticalWidget{
    margin-left: 25px !important;
}

/*
 * ReceiveCoins Page
 */
#ReceiveCoinsDialog{
    margin: 12px 42px 18px 42px;
}
#removeRequestButton{
    color: #FF1D1D;
}
#recentRequestsView QHeaderView::section{
    text-transform:uppercase;
    height:20px !important;
    border-bottom: 1px solid #707070 !important;
    border-right: 0px solid transparent !important;
    background: transparent !important;
    color: #8E8E8E !important;
}

/*
 * Transactions Page
 */
QLineEdit#addressWidget, QLineEdit#tAmountWidget, QComboBox#dateWidget, QComboBox#typeWidget, QCombobox#watchOnlyWidget { /* Over the table */
    background-color: rgb(17,17,17);
    color:#fff;
    border:0px;
    min-height: 24px !important;
}

/*
 * Private Page
 */
#framePrivateSend{
    background-color: rgba(0,0,0,0.5); 
    border: 0px !important;
}
#labelPrivateSendHeader{
    font-size: 27px;
    font-family:"Gotham", sans-serif;
    font-weight:bold;
    color:#FFF;
}
#labelAnonymized{
    font-size: 38px;
    color: #FDF002;
    font-weight:bold;
}
#labelAnonymizedText, #labelAmountAndRoundsText, #labelPrivateSendEnabledText{
    text-transform:uppercase;
    font-size: 14px;
    font-family:"Gotham Medium", sans-serif;
    color:#FFF;
}
#labelAmountRounds, #labelPrivateSendEnabled {
    font-size: 20px;
    color: #FDF002;
    font-weight:bold;
}
#privateSendInfo, #privateSendInfo:hover, #privateSendInfo:focus, #privateSendInfo:disabled, #privateSendInfo:pressed, #overviewInfo, #overviewInfo:hover, #overviewInfo:focus, #overviewInfo:disabled, #overviewInfo:pressed{
    background: transparent;
    border: 0px;
}

/*
 * Proposal Page
 */
QLineEdit#proposalWidget, QLineEdit#amountWidget, QLineEdit#yesVotesWidget, QLineEdit#noVotesWidget, QLineEdit#absoluteYesVotesWidget, QLineEdit#percentageWidget{ /* Over the table */
    background-color: rgb(17,17,17);
    color:#fff;
    border:0px;
    min-height: 30px !important;
}
QComboBox#startDateWidget, QComboBox#endDateWidget{
    background-color: rgb(17,17,17);
    border:0px;
    padding: 3px 5px 3px 5px;
    color:#fff;
    min-height: 24px !important;
}
#startDateWidget::down-arrow, #endDateWidget::down-arrow {
    border-image: url(':/images/pac/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
#startDateWidget::drop-down, #endDateWidget::drop-down {
    width:25px;
    border:3px red;
}
QComboBox#startDateWidget QListView, QComboBox#endDateWidget QListView{
    background-color: rgb(17,17,17);
    border:0px;
    border-radius: 5px;
    padding-right:1px;
    padding-left:1px;
}

/*
 * Masternodes Page
*/
MasternodeList > QTabBar::tab{
    min-width:180px;
}
#filterLineEdit{
    background-color: #0B0B0B;
    border-radius: 12px;
    height: 24px;
}
#tabWidget>QTabBar::tab {
    background-color: #1D1D1D !important;
    min-height: 25px;
}
#tabWidget>QTabBar::tab:selected{
    background-color: #383737 !important;
    border: 1px solid black !important;
}

/*
 * OptionsDialog
*/
#tabWidget_OptionsDialog QTabBar::tab {
    background: rgb(50,50,50);
    width:100px;
}
#tabWidget_OptionsDialog::pane {
    background-color: rgba(50,50,50,0.35);
}
#OptionsDialog > #resetButton{
    width:210px !important;
}

/*
 * Sign verify message
 */
#messageIn_SM, #messageIn_VM{
    background: rgb(10, 10, 10);
}

/*
 * Coin contro dialog
 */
#frame{
    border: 0px;
}
#treeWidget{
    border: 0px;
    background-color: rgb(17,17,17);
    color:#fff;
}

/* The class on the QT is not working, this is "LineEditSmall" */
#addressIn_SM, #signatureOut_SM{
    border: 0px;
    outline:0;
    padding:3px;
    background-color: rgb(10, 10, 10);
    color: #fff;
    height: 20px !important;
    font-size: 13px;
    border-radius: 10px;
}
