[Unit]
Description=PAC's distributed currency daemon
After=network.target

[Service]
User=paccoincore
Group=paccoincore

Type=forking
PIDFile=/var/lib/paccoind/paccoind.pid
ExecStart=/usr/bin/paccoind -daemon -pid=/var/lib/paccoind/paccoind.pid \
-conf=/etc/paccoincore/paccoin.conf -datadir=/var/lib/paccoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
